---
layout: splash
author_profile: false
description: "We talk about Android Development, Public Speaking, Community and Travelling"
title: "Nicola Corti"
og_title: "Nicola Corti"

header:
    overlay_image: "/assets/images/header-home.jpg"
    og_image: "/assets/images/og-default-header.jpg"
excerpt: "<div class='header_box'><div class='author__avatar'><img src='/assets/images/avatar.png' itemprop='image'></div>
<div class='social__links'>
<a href='mailto:corti.nico@gmail.com'><i class='fas fa-envelope' aria-hidden='true'></i></a>
<a href='https://twitter.com/cortinico'><i class='fab fa-twitter' aria-hidden='true'></i></a>
<a href='https://github.com/cortinico'><i class='fab fa-github' aria-hidden='true'></i></a>
<a href='https://keybase.io/cortinico'><i class='fab fa-keybase' aria-hidden='true'></i></a>
<a href='https://instagram.com/cortinico'><i class='fab fa-instagram' aria-hidden='true'></i></a>
<a href='https://linkedin.com/in/cortinico'><i class='fab fa-linkedin' aria-hidden='true'></i></a>
</div>
</div>"

feature_row:
  - image_path: assets/images/thumb-blog.jpg
    alt: "Blog"
    title: "Blog"
    excerpt: "Android, Community and Public Speaking"
    url: "/blog"
  - image_path: assets/images/thumb-talks.jpg
    alt: "Talks"
    title: "Talks"
    excerpt: "Slides &amp; Videos"
    url: "/talks"
  - image_path: assets/images/thumb-about.jpg
    alt: "About"
    title: "About"
    excerpt: "Hi there, my name is Nicola."
    url: "/about"
---

<p align="center">
    Android 🤖, React ⚛️, Open Source 🐧, Public Speaking 🎤, and Running 🏃‍♂️.<br/>
    That's what wakes me up in the morning!
</p>

<hr>

{% include feature_row %}

<div class="archive">

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
</div>
