---
layout: splash
author_profile: false
title: "Hi! I'm Nicola"

header:
    overlay_image: "/assets/images/header-home.jpg"
excerpt: "<div class='header_box'><div class='author__avatar'><img src='/assets/images/avatar.png' itemprop='image'></div><h1 class='page__title typewriter-container'>I'm <span id='typewriter'></span></h1><a href='mailto:corti.nico@gmail.com'><i class='fas fa-envelope' aria-hidden='true'></i></a><a href='https://twitter.com/cortinico'><i class='fab fa-twitter' aria-hidden='true'></i></a><a href='https://github.com/cortinico'><i class='fab fa-github' aria-hidden='true'></i></a><a href='https://instagram.com/cortinico'><i class='fab fa-instagram' aria-hidden='true'></i></a><a href='https://linkedin.com/in/cortinico'><i class='fab fa-linkedin' aria-hidden='true'></i></a></div>"

feature_row:
  - image_path: assets/images/header-blog.jpg
    alt: "Blog"
    title: "Blog"
    excerpt: "Android, Community and Public Speaking"
    url: "/blog"
  - image_path: assets/images/header-talks.jpg
    alt: "Talks"
    title: "Talks"
    excerpt: "Slides &amp; Videos"
    url: "/talks"
  - image_path: assets/images/header-about.jpg
    alt: "About"
    title: "About"
    excerpt: "Hi there, my name is Nicola."
    url: "/about"
---

<p align="center">
	Welcome to my website. I'm Nicola Corti, an enthusiasth <strong>Android</strong> Engineer a <strong>Community</strong> lover and a <strong>Speaker</strong>.
</p>

<hr>

{% include feature_row %}

<div class="archive">

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
</div>

<script type="text/javascript">
var app = document.getElementById('typewriter');

var typewriter = new Typewriter(app, {
    loop: true
});

typewriter.typeString('Android Engineer')
    .pauseFor(1500)
    .deleteChars(9)
    .typeString(' Lov3')
    .pauseFor(200)
    .deleteChars(1)
    .typeString('er')
    .pauseFor(1500)
    .deleteAll()
    .typeString('Public Speaker')
    .pauseFor(2500)
    .deleteAll()
    .typeString('Community')
    .pauseFor(500)
    .typeString(' Builder')
    .pauseFor(2500)
    .deleteChars(8)
    .typeString(' Manager')
    .pauseFor(1500)
    .deleteAll()
    .typeString('Traveller')
    .start();  
</script>